<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Authentication with cookies</title>
</head>
<body>
    <section>
        <% if (user) { %>
            Welcome <%= user.name %> to my app
            <form action="/logout" method="POST">
                <button type="submit"> Logout </button>
            </form>
        <% } %>
    </section>