<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Page</title>
</head>
<body> -->
    <%- include("partials/_header") %>

    <section>
        <% if(user) { %>
            Welcome <%= user.name %> to the protected Area
        <% } else { %>
            you are not authorized to view this
            <%- include('partials/_login-form.ejs') %>
        <% } %>
    </section>
</body>
</html>